#right{
    width: 65%;
    height:300px;
    background: url(../images/bg2.jpg);
    border-radius: 6px;
    
}
#right h2{
    font-size: 2em;
    color: #fff;
    margin-top: 30px;
    margin-left: 19%;
}
#right p{
    margin-left: 13%;
    margin-top: 10px;
    font-size: 14px;
}
#right .text{
    width: 35%;
    height: 25px;
    border: none;
    border-radius: 5px;
}
#right .file{
    border: none;
    border-radius: 5px;
}
#right .btn{
    width: 10%;
    border: 0px;
    border-radius: 3px;
    background:#3399ff;
    color: #fff;
    cursor: pointer;
    margin-left: 15%;
   margin-top: 12px;
}
#right .btn2{
    width: 10%;
    border: 0px;
    border-radius: 3px;
    background:#3399ff;
    color: #fff;
    cursor: pointer;
   margin-top: 12px;
}